<!-- <div>
  <app-signup></app-signup> 
  <app-login></app-login> 
  
</div>

<div>
  <app-test></app-test>
</div> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">Home</a>
      <a class="nav-item nav-link" routerLink="/signup" routerLinkActive = "active">Sign-up</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive = "active">Sign-in</a>
    </div>
  </div>
</nav> -->


<body>
  <app-test [childcom] = "parentCom" ></app-test>
</body> 
  <h3>hello</h3>


<router-outlet></router-outlet>

