<p>test works!</p>


<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{userName}}</h5>
      <p class="card-text">With supporting text below.</p>
      <input type="text"  class="form-control"  [(ngModel)] = "userName">
      <a href="#" class="btn btn-primary" (click)="changename()">Click</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

 

<div class="container">
 <div *ngFor = "let user of users">
  <div [ngSwitch] = "user.status">
      <li *ngSwitchCase="'active'" [ngStyle]="{'color':'blue'}">
          {{user.name}} is active
      </li>
      <li *ngSwitchCase="'Inactive'" [ngStyle]="{'color':'red'}">
          {{user.name}} is InActive
      </li>
      
      <li *ngSwitchDefault [ngStyle]="{'color':'Brown'}">
         no result found 
      </li>
  </div>
</div>
<br>

<hr>

<h3>My-service provider</h3>
<div *ngFor = "let prod of data.productDetail">
  <ul>
    <li>product_Name : {{prod.productName}}</li>
    <li>product_price : {{prod.Price}}</li>
    <li>product_Quantity : {{prod.Quantity}}</li>

  </ul>
</div>
<hr>


<!-- data transfer parent component to child component  -->
<h3>Stranger Thinks cast</h3>
<div >
  <table class="table">
    <thead class="thead-light">
      <tr> 
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody *ngFor = "let cast of childcom">
      <tr>
        <td>{{cast.id}}</td>
        <td>{{cast.name}}</td>
        <td>{{cast.role}}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>


